In [31]:
from  bs4 import BeautifulSoup
import  requests
import pandas as pd
import numpy as np
import re

In [2]:
page= requests.get('https://en.wikipedia.org/wiki/Main_Page')
soup = BeautifulSoup(page.text, 'html.parser')
titles = soup.find_all(['h1', 'h2','h3','h4','h5','h6'])
print('List all the header tags :', *titles, sep='\n\n')

List all the header tags :

<h1 class="firstHeading" id="firstHeading">Main Page</h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you knowÂ ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfl-h2"><span id="From_today.27s_featured_list"></span><span class="mw-headline" id="From_today's_featured_list">From today's featured list</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 aria-label="" class="vector-menu-heading" id="p-personal-label">
<span>Personal tools</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-namespaces-label">
<span>Namespaces</span>
</h3>

<h3 aria-label="Change language variant" class="vector-menu-heading" id="p-variants-label">
<span>Variants</span>
<span class="vector-menu-checkbox-expanded">expanded</span>
<span class="vector-menu-checkbox-collapsed">collapsed</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-views-label">
<span>Views</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-cactions-label">
<span>More</span>
<span class="vector-menu-checkbox-expanded">expanded</span>
<span class="vector-menu-checkbox-collapsed">collapsed</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-navigation-label">
<span>Navigation</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-interaction-label">
<span>Contribute</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-tb-label">
<span>Tools</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-coll-print_export-label">
<span>Print/export</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-lang-label">
<span>Languages</span>
</h3>

In [65]:
page= requests.get('https://www.imdb.com/chart/top')
soup = BeautifulSoup(page.text, 'html.parser')
movie_list=[]
movie_names = []
movie_year=[0]*100
movie_rating=[]*100
j=0
for i in soup.find_all('td',class_="ratingColumn imdbRating"):
    if j<100:
        movie_rating.append(i.text.split('\n')[1])
        j=j+1
movie_rating
for i in range(100):
    content = str(soup.find_all('td', {'class':'titleColumn'})[i])
    name = re.findall ( '>(.*?)</a>', content)
    movie_names.insert(len(movie_names), name)
    year = str(soup.find_all('span', {'class':'secondaryInfo'})[i])
    movie_year[i] = int(re.findall(r"\(([0-9_]+)\)", year)[0])
movie_names
movie_year

[1994,
 1972,
 1974,
 2008,
 1957,
 1993,
 2003,
 1994,
 1966,
 2001,
 1999,
 1994,
 2010,
 2002,
 1980,
 1999,
 1990,
 1975,
 1954,
 1995,
 1991,
 2002,
 1997,
 1946,
 1977,
 1998,
 2014,
 2001,
 1999,
 2019,
 1994,
 1962,
 2002,
 1991,
 1995,
 1985,
 1960,
 1994,
 1936,
 1998,
 1988,
 1931,
 2014,
 2000,
 2006,
 2011,
 2006,
 1942,
 1968,
 1954,
 1988,
 1979,
 1979,
 2000,
 1981,
 1940,
 2006,
 2012,
 1957,
 1950,
 2008,
 2018,
 1957,
 1980,
 2018,
 1964,
 1997,
 2003,
 2019,
 2016,
 2012,
 2017,
 1986,
 1984,
 2018,
 2019,
 1981,
 1963,
 2009,
 1999,
 1995,
 1984,
 1995,
 2020,
 2009,
 1997,
 1983,
 1968,
 1992,
 1931,
 1958,
 2007,
 1985,
 1941,
 2012,
 2000,
 1952,
 1959,
 2004,
 1948]

In [66]:
print(len(movie_names),len(movie_year),len(movie_rating))

100 100 100

In [67]:
imdb_df=pd.DataFrame({'Movie Name': movie_names,'Year of Movie': movie_year,'Rating of Movie': movie_rating})
imdb_df

                                 Movie Name  Year of Movie Rating of Movie
0                [The Shawshank Redemption]           1994             9.2
1                           [The Godfather]           1972             9.1
2                  [The Godfather: Part II]           1974             9.0
3                         [The Dark Knight]           2008             9.0
4                            [12 Angry Men]           1957             8.9
..                                      ...            ...             ...
95                    [Requiem for a Dream]           2000             8.3
96                    [Singin' in the Rain]           1952             8.3
97                     [North by Northwest]           1959             8.3
98  [Eternal Sunshine of the Spotless Mind]           2004             8.3
99                    [Ladri di biciclette]           1948             8.3

[100 rows x 3 columns]

In [68]:
#Top 100 Indian movies.
page= requests.get('https://www.imdb.com/india/top-rated-indian-movies/')
soup = BeautifulSoup(page.text, 'html.parser')
movie_list=[]
movie_names = []
movie_year=[0]*100
movie_rating=[]*100
j=0
for i in soup.find_all('td',class_="ratingColumn imdbRating"):
    if j<100:
        movie_rating.append(i.text.split('\n')[1])
        j=j+1
movie_rating
for i in range(100):
    content = str(soup.find_all('td', {'class':'titleColumn'})[i])
    name = re.findall ( '>(.*?)</a>', content)
    movie_names.insert(len(movie_names), name)
    year = str(soup.find_all('span', {'class':'secondaryInfo'})[i])
    movie_year[i] = int(re.findall(r"\(([0-9_]+)\)", year)[0])
movie_names
movie_year
indimdb_df=pd.DataFrame({'Movie Name': movie_names,'Year of Movie': movie_year,'Rating of Movie': movie_rating})
indimdb_df

             Movie Name  Year of Movie Rating of Movie
0            [Jai Bhim]           2021             8.7
1             [Nayakan]           1987             8.5
2   [Pariyerum Perumal]           2018             8.5
3          [Anbe Sivam]           2003             8.5
4   [C/o Kancharapalem]           2018             8.5
..                  ...            ...             ...
95          [Sarfarosh]           1999             8.1
96              [Queen]           2013             8.1
97               [Roja]           1992             8.1
98     [Dil Chahta Hai]           2001             8.1
99    [OMG: Oh My God!]           2012             8.1

[100 rows x 3 columns]

In [74]:
#Top 10 Men's ODI Teams
page= requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup = BeautifulSoup(page.text, 'html.parser')
table = soup.find('table', {'class': 'table'})
i=1
rankings = {}
position = table.find('td', {'class': 'rankings-block__banner--pos'}).text.strip()
country_name = table.find('span', {'class': 'u-hide-phablet'}).text.strip()
matches = table.find('td', {'class': 'rankings-block__banner--matches'}).text.strip()
points = table.find('td', {'class': 'rankings-block__banner--points'}).text.strip()
rating = table.find('td', {'class': 'rankings-block__banner--rating u-text-right'}).text.strip()
rankings[country_name] = {'position': position,
                          'matches': matches,
                          'points': points,
                          'rating': rating}

for row in table.find_all('tr', {'class': 'table-body'}):
    if i<10:
        position = row.find('td', {'class': 'table-body__cell table-body__cell--position u-text-right'}).text.strip()
        i=i+1
        country_name = row.find('span', {'class': 'u-hide-phablet'}).text.strip()
        matches = row.find_all('td', {'class': 'table-body__cell u-center-text'})[0].text.strip()
        points = row.find_all('td', {'class': 'table-body__cell u-center-text'})[1].text.strip()
        rating = row.find('td', {'class': 'table-body__cell u-text-right rating'}).text.strip()
        rankings[country_name] = {'position': position,
                          'matches': matches,
                          'points': points,
                          'rating': rating}
rankings

{'New Zealand': {'position': '1',
  'matches': '17',
  'points': '2,054',
  'rating': '121'},
 'England': {'position': '2',
  'matches': '32',
  'points': '3,793',
  'rating': '119'},
 'Australia': {'position': '3',
  'matches': '28',
  'points': '3,244',
  'rating': '116'},
 'India': {'position': '4',
  'matches': '32',
  'points': '3,624',
  'rating': '113'},
 'South Africa': {'position': '5',
  'matches': '25',
  'points': '2,459',
  'rating': '98'},
 'Pakistan': {'position': '6',
  'matches': '27',
  'points': '2,524',
  'rating': '93'},
 'Bangladesh': {'position': '7',
  'matches': '30',
  'points': '2,740',
  'rating': '91'},
 'West Indies': {'position': '8',
  'matches': '30',
  'points': '2,523',
  'rating': '84'},
 'Sri Lanka': {'position': '9',
  'matches': '32',
  'points': '2,657',
  'rating': '83'},
 'Afghanistan': {'position': '10',
  'matches': '17',
  'points': '1,054',
  'rating': '62'}}

In [15]:
page= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
soup = BeautifulSoup(page.text, 'html.parser')
name=[]
team=[]
point=[]
name.append(soup.find('div',attrs={"rankings-block__banner--name-large"}).text)
for i in list(soup.find_all('td',attrs={'table-body__cell rankings-table__name name'}))[:9]:
    name.append(i.text.replace('\n',''))
team.append(soup.find('div',attrs={"rankings-block__banner--nationality"}).text.strip("\n"))
for i in list(soup.find_all('td',attrs={'table-body__cell nationality-logo rankings-table__team'}))[:9]:
    team.append(i.text.replace('\n',''))
point.append(soup.find('div',attrs={"rankings-block__banner--rating"}).text)
for i in list(soup.find_all('td',attrs={'table-body__cell rating'}))[:9]:
        point.append(i.text)
bat_df=pd.DataFrame({'Name': name,'Team':team,'points':point})
    
bat_df

              Name Team points
0       Babar Azam  PAK    873
1      Virat Kohli  IND    844
2     Rohit Sharma  IND    813
3      Ross Taylor   NZ    801
4      Aaron Finch  AUS    779
5   Jonny Bairstow  ENG    775
6     David Warner  AUS    762
7        Shai Hope   WI    758
8  Kane Williamson   NZ    754
9  Quinton de Kock   SA    743

In [14]:
page= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
soup = BeautifulSoup(page.text, 'html.parser')
name=[]
team=[]
point=[]
name.append(soup.find('div',attrs={"rankings-block__banner--name-large"}).text)
for i in list(soup.find_all('td',attrs={'table-body__cell rankings-table__name name'}))[:9]:
    name.append(i.text.replace('\n',''))
team.append(soup.find('div',attrs={"rankings-block__banner--nationality"}).text.strip("\n"))
for i in list(soup.find_all('td',attrs={'table-body__cell nationality-logo rankings-table__team'}))[:9]:
    team.append(i.text.replace('\n',''))
point.append(soup.find('div',attrs={"rankings-block__banner--rating"}).text)
for i in list(soup.find_all('td',attrs={'table-body__cell rating'}))[:9]:
        point.append(i.text)
bowl_df=pd.DataFrame({'Name': name,'Team':team,'points':point})
bowl_df

               Name Team points
0       Trent Boult   NZ    737
1    Josh Hazlewood  AUS    709
2  Mujeeb Ur Rahman  AFG    708
3      Chris Woakes  ENG    700
4      Mehedi Hasan  BAN    692
5        Matt Henry   NZ    691
6    Jasprit Bumrah  IND    679
7    Mitchell Starc  AUS    652
8   Shakib Al Hasan  BAN    650
9     Kagiso Rabada   SA    643

In [19]:
#Top 10 Women's ODI Teams
page= requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup = BeautifulSoup(page.text, 'html.parser')
table = soup.find('table', {'class': 'table'})
i=1
rankings = {}
position = table.find('td', {'class': 'rankings-block__banner--pos'}).text.strip()
country_name = table.find('span', {'class': 'u-hide-phablet'}).text.strip()
matches = table.find('td', {'class': 'rankings-block__banner--matches'}).text.strip()
points = table.find('td', {'class': 'rankings-block__banner--points'}).text.strip()
rating = table.find('td', {'class': 'rankings-block__banner--rating u-text-right'}).text.strip()
rankings[country_name] = {'position': position,
                          'matches': matches,
                          'points': points,
                          'rating': rating}

for row in table.find_all('tr', {'class': 'table-body'}):
    if i<10:
        position = row.find('td', {'class': 'table-body__cell table-body__cell--position u-text-right'}).text.strip()
        i=i+1
        country_name = row.find('span', {'class': 'u-hide-phablet'}).text.strip()
        matches = row.find_all('td', {'class': 'table-body__cell u-center-text'})[0].text.strip()
        points = row.find_all('td', {'class': 'table-body__cell u-center-text'})[1].text.strip()
        rating = row.find('td', {'class': 'table-body__cell u-text-right rating'}).text.strip()
        rankings[country_name] = {'position': position,
                          'matches': matches,
                          'points': points,
                          'rating': rating}
rankings

{'Australia': {'position': '1',
  'matches': '17',
  'points': '2,746',
  'rating': '162'},
 'South Africa': {'position': '2',
  'matches': '19',
  'points': '2,307',
  'rating': '121'},
 'England': {'position': '3',
  'matches': '18',
  'points': '2,148',
  'rating': '119'},
 'India': {'position': '4',
  'matches': '17',
  'points': '1,899',
  'rating': '112'},
 'Bangladesh': {'position': '5',
  'matches': '5',
  'points': '475',
  'rating': '95'},
 'New Zealand': {'position': '6',
  'matches': '19',
  'points': '1,668',
  'rating': '88'},
 'West Indies': {'position': '7',
  'matches': '19',
  'points': '1,658',
  'rating': '87'},
 'Pakistan': {'position': '8',
  'matches': '18',
  'points': '1,226',
  'rating': '68'},
 'Ireland': {'position': '9', 'matches': '5', 'points': '240', 'rating': '48'},
 'Sri Lanka': {'position': '10',
  'matches': '5',
  'points': '233',
  'rating': '47'}}

In [16]:
page= requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
soup = BeautifulSoup(page.text, 'html.parser')
name=[]
team=[]
point=[]
name.append(soup.find('div',attrs={"rankings-block__banner--name-large"}).text)
for i in list(soup.find_all('td',attrs={'table-body__cell rankings-table__name name'}))[:9]:
    name.append(i.text.replace('\n',''))
team.append(soup.find('div',attrs={"rankings-block__banner--nationality"}).text.strip("\n"))
for i in list(soup.find_all('td',attrs={'table-body__cell nationality-logo rankings-table__team'}))[:9]:
    team.append(i.text.replace('\n',''))
point.append(soup.find('div',attrs={"rankings-block__banner--rating"}).text)
for i in list(soup.find_all('td',attrs={'table-body__cell rating'}))[:9]:
        point.append(i.text)
bat_df=pd.DataFrame({'Name': name,'Team':team,'points':point})
bat_df

                Name Team points
0        Lizelle Lee   SA    761
1       Alyssa Healy  AUS    750
2        Mithali Raj  IND    738
3     Tammy Beaumont  ENG    728
4  Amy Satterthwaite   NZ    717
5    Smriti Mandhana  IND    710
6        Meg Lanning  AUS    699
7        Beth Mooney  AUS    690
8    Stafanie Taylor   WI    676
9     Heather Knight  ENG    674

In [18]:
page= requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
soup = BeautifulSoup(page.text, 'html.parser')
name=[]
team=[]
point=[]
name.append(soup.find('div',attrs={"rankings-block__banner--name-large"}).text)
for i in list(soup.find_all('td',attrs={'table-body__cell rankings-table__name name'}))[:9]:
    name.append(i.text.replace('\n',''))
team.append(soup.find('div',attrs={"rankings-block__banner--nationality"}).text.strip("\n"))
for i in list(soup.find_all('td',attrs={'table-body__cell nationality-logo rankings-table__team'}))[:9]:
    team.append(i.text.replace('\n',''))
point.append(soup.find('div',attrs={"rankings-block__banner--rating"}).text)
for i in list(soup.find_all('td',attrs={'table-body__cell rating'}))[:9]:
        point.append(i.text)
allrnd_df=pd.DataFrame({'Name': name,'Team':team,'points':point})
    
allrnd_df

               Name Team points
0    Marizanne Kapp   SA    384
1    Natalie Sciver  ENG    372
2      Ellyse Perry  AUS    365
3   Stafanie Taylor   WI    319
4     Deepti Sharma  IND    299
5  Ashleigh Gardner  AUS    275
6  Dane van Niekerk   SA    274
7   Hayley Matthews   WI    272
8     Jess Jonassen  AUS    272
9   Katherine Brunt  ENG    272

In [18]:
#url= requests.get('https://coreyms.com/page/')
URL = 'https://coreyms.com/page/'
headings=[]
Published_Date=[]
contents=[]
video_url=[]
for page in range(1,18): 
    req = requests.get(URL + str(page) + '/')
    soup = BeautifulSoup(req.text, 'html.parser')
    content = soup.find('div', {'class': 'site-container'})
    blog_titles = content.find_all('h2',class_="entry-title")
    date=content.find_all('time',class_="entry-time")
    cont=content.find_all('div',class_="entry-content")
    video=content.find_all('iframe',class_='youtube-player')
    for title in blog_titles:
          headings.append(title.text)
    for i in date:
          Published_Date.append(i.text)
    for j in cont:
          contents.append(j.text.strip('\n'))
    for k in video:
          video_url.append(k['src'])
print(len(headings),len(Published_Date),len(contents),len(video_url))
#core_df=pd.DataFrame({'Title': headings,'Date of Publication':Published_Date,'Content': contents,'URL of Youtube-Video': video_url})
#core_df

162 162 162 154

In [34]:
page= requests.get('https://en.tutiempo.net/delhi.html?data=last-24-hours')
soup = BeautifulSoup(page.text, 'html.parser')
content = soup.find('th',class_="ndia")
hour=[]
temperature=[]
wind=[]
weather_condition=[]
humidity=[]
pressure=[]
for i in content.find_all('td',class_="t Temp"):
    temperature.append(i.text)
for i in content.find_all('td',class_="wind"):
    wind.append(i.text)
for i in content.find_all('td',class_="hr"):
    humidity.append(i.text)
for i in content.find_all('td',class_="prob"):
    pressure.append(i.text)

SSLError: HTTPSConnectionPool(host='en.tutiempo.net', port=443): Max retries exceeded with url: /delhi.html?data=last-24-hours (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1125)')))

In [32]:
page= requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
soup = BeautifulSoup(page.text, 'html.parser')
Restaurant_name=[]
Cuisine=[]
Location=[]
Ratings=[]
Image_URL=[]
content=soup.find('div',class_="restnt-card-wrap-new")
for i in content.find_all('a',class_="restnt-name ellipsis"):
    Restaurant_name.append(i.text)
for i in content.find_all('div',class_="restnt-loc ellipsis"):
    Location.append(i.text)
for i in content.find_all('span',class_="double-line-ellipsis"):
    Cuisine.append(i.text.split('|')[1])
for i in content.find_all('div',class_="restnt-rating rating-4"):
    Ratings.append(i.text)
for i in content.find_all('img',class_="no-img"):
    Image_URL.append(i['data-src'])
#print(len(Restaurant_name),len(Cuisine),len(Location),len(Ratings),len(Image_URL))
dine_df=pd.DataFrame({'Restaurant_name':Restaurant_name,'Cuisine':Cuisine,'Location':Location,'Ratings':Ratings,'Image_URL':Image_URL})
dine_df

,Restaurant_name,Cuisine,Location,Ratings,Image_URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",3.5,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Barbecue, Italian, Asian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"North Indian, Chinese","Pacific Mall,Tagore Garden, West Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"Multi-Cuisine, North Indian, Italian, Contine...","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"Barbecue, Chinese, Mughlai, North Indian","Gardens Galleria,Sector 38A, Noida",4.1,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian, Oriental","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,"Barbecue, North Indian","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.6,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,"North Indian, Chinese, Fast Food","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.9,https://im1.dineout.co.in/images/uploads/resta...
8,World Cafe,"North Indian, Chinese, Continental","Vibe by The Lalit Traveller,Sector 35, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
9,Indian Grill Room,"North Indian, Mughlai, Barbecue","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,Mad 4 Bar B Que,"North Indian, Mughlai","Sector 29, Faridabad",3.9,https://im1.dineout.co.in/images/uploads/resta...
11,Barbeque 29,"North Indian, Chinese, Barbecue","NIT, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,Glasshouse,"Multi-Cuisine, Asian, European, Italian, Nort...","DoubleTree By Hilton Gurugram Baani Square,Sec...",4.1,https://im1.dineout.co.in/images/uploads/resta...

In [67]:
page= requests.get('https://www.puredestinations.co.uk/top-10-famous-monuments-to-visit-in-india/')
soup = BeautifulSoup(page.text, 'html.parser')
name=[]
desc=[]
image_url=[]
content = soup.find('div', class_="blog--single__content column--3-4 u-spacing-third")
for i in content.find_all('img'):
    image_url.append(i['src'])
image_url

['data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
 'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/TAJ-MAHAL-PD-BLOG.jpg',
 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
 'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/Golden-Temple-PD-BLOG.jpg',
 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
 'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/meenakshi-temple-PD-BLOG.jpg',
 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
 'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/Mysore-palace-PD-BLOG.jpg',
 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
 'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/gateway-to-india-PD-BLOG.jpg',
 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
 'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/red-fort-PD-BLOG.jpg',
 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
 'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/HAWA-MAHAL-PD-BLOG.jpg',
 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
 'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/qutub-minar-PD-BLOG.jpg',
 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
 'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/Sanchi-Stupi-PD-BLOG.jpg',
 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
 'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/Charminar-PD-BLOG-1.jpg']

In [32]:
page=requests.get('https://www.nobroker.in/property/sale/bangalore/Electronic%20City?type=BHK4&searchParam=W3sibGF0IjoxMi44N%20DUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8%20iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&propertyAge=0&radius=2.0')
soup=BeautifulSoup(page.content,'html.parser')
content=soup.find('div',class_="infinite-scroll-component")
house_title=[]
location=[]
area=[]
emi=[]
price=[]
for i in content.find_all('a',class_="nb__U5JyW"):
    house_title.append(i['title'])
for i in content.find_all('div',class_="nb__1EwQz"):
    location.append(i.text)
for i in content.find_all('div',attrs={'class':'font-semi-bold heading-6','id':'roomType'}):
    emi.append(i.text)
for i in content.find_all('div',attrs={'class':'nb__4L90a','id':'minDeposit'}):
    price.append(i.text.split('â¹')[1])
for i in content.find_all('a',class_="nb__U5JyW"):
    area.append(i['title'].split('In')[-1])
#print(len(house_title),len(price),len(location),len(emi),len(area))
house_df=pd.DataFrame({'House Title':house_title,'Area':area,'Location':location,'EMI':emi,'Price':price})
house_df

,House Title,Area,Location,EMI,Price
0,4 BHK In Independent House For Sale In Hebba...,Hebbagodi,"Independent House, Bangalore - Hosur Road, Nea...","â¹77,374/Month",1.35 Crores
1,4 BHK In Independent House For Sale In Elect...,"Electronics City Phase 1, Electronic City","Independent House, brand factory","â¹39,546/Month",69 Lacs
2,4 BHK Flat For Sale In Electronic City,Electronic City,"Standalone Building, YOUNG LIFE PG FOR LADIES,...","â¹28,657/Month",50 Lacs
3,4 BHK Flat For Sale In Nisarga Residency In ...,Electronic City Phase Ii,"Nisarga ResidencyÂ Near Thali Resturant, Anant...","â¹45,851/Month",80 Lacs
4,4 BHK Flat For Sale In Sobha Silicon Oasis ...,Hosa Road,"Sobha Silicon Oasis Naganathapura, Rayasandra ...","â¹91,703/Month",1.6 Crores
5,4 BHK For Sale In Daadys Garden In Electronic...,Electronic City,"Daadys GardenÂ Kammasandra Rd, Kammasandra, El...","â¹85,971/Month",1.5 Crores
6,"4 BHK Flat For Sale In , Electronic City",", Electronic City","Standalone Building, 16th Cross Road Neeladri ...","â¹39,546/Month",69 Lacs
7,"4 BHK Flat For Sale In Hosa Road, Parappana ...","Hosa Road, Parappana Agrahara","Standalone Building, 11th cross.anjanadri lay out","â¹71,643/Month",1.25 Crores
8,4 BHK In Independent House For Sale In Elect...,Electronic City,"Independent House, surya nagar face 1",â¹1.43 Lacs/Month,2.5 Crores
9,4 BHK In Independent House For Sale In Elect...,Electronic City,"Independent House, Hosur Rd,Near Infosys Limited","â¹42,985/Month",75 Lacs
10,4 BHK Flat For Sale In Gopalan Gardenia In E...,Electronic City,"Gopalan GardeniaÂ Gopalan gardenia, Veerasandr...","â¹68,777/Month",1.2 Crores
11,4 BHK For Sale In Gpr Royale In Gpr Royale,Gpr Royale,6th Cross,"â¹85,971/Month",1.5 Crores
12,4 BHK Flat For Sale In Heena Enclave In Elec...,Electronic City,"Neeladri Nagar,Near Pioneer Sun Blossom","â¹71,643/Month",1.25 Crores
13,4 BHK For Sale In Deccan Palms Park In Electr...,Electronic City,"Deccan Palms ParkÂ Deccan Palms Villas, Deccan...","â¹85,971/Month",1.5 Crores
14,4 BHK In Independent House For Sale In Elect...,Electronic City Phase Ii,"Independent House, Industrial Area Near Tech M...","â¹57,314/Month",1 Crore